.container {
	background: linear-gradient(
		to bottom,
		rgba(var(--color-red), 0),
		rgba(var(--color-red), 1)
	);
	padding-inline: clamp(1rem, -0.143rem + 2.86vw, 2rem);
}

.sponsor {
	max-width: 1200px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.with-logo {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 16px;
}

.link {
	background-color: #fff;
	height: 100px;
	padding: 16px;
}

.image {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.without-logo {
	background-color: #fff;
	padding: 16px;
}

.without-logo > * {
	display: inline-flex;
}

.without-logo > *:has(+ *)::after {
	content: "/";
	margin-inline: 8px;
}
