.title {
	text-align: center;
	font-size: clamp(2rem, 1.571rem + 2.29vw, 3rem);
	margin: 4%;
	font-family: var(--font-serif);
}
.content {
	margin: 5%;
}

.request {
	max-width: 1100px;
	margin: auto;
	background-color: var(--color-bg-emphasis);
	border: solid var(--color-secondary) 3px;
	border-radius: 2px;
	padding: 20px;
}

.requestItem {
	margin: 1%;
}

.linkScroll {
	scroll-margin: 80px;
}

.list {
	max-width: 440px;
	width: 70%;
	margin: auto;
	padding: 20px;
	background-color: var(--color-bg-emphasis);
	padding-left: 40px;
}

.link {
	color: rgba(var(--color-secondary-value), 0.85);
	font-weight: bold;
	transition: 0.2s;
}

.link:hover {
	color: var(--color-secondary);
}

.listItem {
	margin-top: 8px;
	margin-bottom: 8px;
	list-style: disc;
}
