.request {
	max-width: 1200px;
	margin: 5%;
	background-color: var(--color-fill);
	border: solid var(--color-secondary) 3px;
	border-radius: 2px;
	padding: 20px;
}

.requestItem {
	margin: 8%;
}

.linkScroll {
	scroll-margin: 80px;
}

.list {
	max-width: 440px;
	width: 70%;
	margin: auto;
	padding: 20px;
	background-color: var(--color-fill);
	padding-left: 40px;
}

.link {
	color: rgba(var(--color-blue), 0.7);
	font-weight: bold;
	transition: 0.2s;
}

.link:hover {
	color: var(--color-secondary);
}

.listItem {
	margin-top: 8px;
	margin-bottom: 8px;
	list-style: disc;
}
