/* contest.module.css */

.pageall {
	margin: 10px;
}

/* スマホ対応のための基本設定 */
.h1 {
	color: var(--color-text);
	font-size: 50px;
	margin: 70px;
	text-align: center;
	font-family: var(--font-serif);
}

/* スマホ対応スタイル */
@media (max-width: 768px) {
	.pageall {
		margin: 5px; /* スマホで余白を縮小 */
	}

	.h1 {
		font-size: 32px; /* フォントサイズを縮小 */
		margin: 40px; /* 上下の余白を調整 */
	}
}
