/* contest.css */
.breadcrumb {
	color: #000000;
	margin-left: 30px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 48px;
	border-bottom: solid 0.1px black;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

h1 {
	color: #000000;
	font-size: 72px;
	margin: 100px;
	text-align: center;
	font-family: "BIZUDMincho-Regular", sans-serif;
}

strong {
	color: #444444;
	font-size: 36px;
}

.image-container {
	text-align: center;
	margin: 20px 0;
}

.image-container img {
	width: 300px;
	height: auto;
	border-radius: 8px;
}

.back-button {
	display: block;
	margin: 30px auto;
	padding: 10px 20px;
	background-color: #fff;
	color: #2b5f75;
	border: solid 1px #2b5f75;
	border-radius: 2px;
	font-size: 1rem;
	cursor: pointer;
}

.back-button:hover {
	background-color: #a82221;
}

@media screen and (max-width: 600px) {
	.contest-container {
		padding: 10px;
	}

	h1 {
		font-size: 1.5rem;
	}

	.image-container img {
		width: 100%;
	}

	.back-button {
		/* width: 100%; */
		font-size: 0.9rem;
	}
}
