.mascot {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10% 0;
}

.title {
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
}

.image {
	margin-bottom: 20px;
}

.name {
	max-width: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
}

.parent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.explane {
	border: solid, rgb(43, 95, 117);
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: auto;
	display: flex;
	flex-direction: row;
	max-width: 800px;
	background-color: rgb(43, 95, 117);
}

.right {
	display: flex;
	height: 50px;
	align-items: center;
	text-align: left;
	background-color: white;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: auto;
}

.left {
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	color: aliceblue;
}
