.questionnaire {
	width: 100%;
	background: var(--color-bg);
	padding-block: 12px;
	padding-inline: 16px;
	display: grid;
	place-content: center;
}

.questionnaire a {
	color: var(--color-secondary);
	text-decoration: underline;
}

.thanks {
	display: inline-block;
}

.close {
	text-align: center;
}
