.section{
  margin: auto;
  max-width: 1200px;

}
.heading{
  text-align: center;
  font-size: clamp(2rem, 1.571rem + 2.29vw, 2rem);
  color: #951717;
  font-weight: bold;
  border-bottom: #951717 solid 3px;
  border-radius: 5px;
  padding: 5px;
}

.listItem{
 list-style: disc; 
 margin: 1.2em;
}
.guideInfo{
  border: solid #951717 3px ;
  border-radius: 8px;
  background-color: white;
  margin: 5%;
}
.contents{
  margin: 20px;
}