.section {
	margin: auto;
	max-width: 1200px;
}

.heading {
	text-align: center;
	font-size: clamp(2rem, 1.571rem + 2.29vw, 2rem);
	color: var(--color-primary);
	font-weight: bold;
	border-bottom: var(--color-primary) solid 3px;
	border-radius: 5px;
	padding: 5px;
}
.heading span {
	display: inline-block;
}
.listItem {
	list-style: disc;
	margin: 1.2em;
}

.guideInfo {
	border: solid var(--color-primary) 3px;
	border-radius: 8px;
	background-color: var(--color-fill);
	margin: 5%;
}

.contents {
	margin: 20px;
}
