@layer reset, base;

@import url("reset.css") layer(reset);

@layer base {
	:root {
		--color-primary-value: 150, 23, 23;
		--color-secondary-value: 43, 94, 115;
		--color-base-value: 254, 248, 236;

		--color-primary: rgb(var(--color-primary-value));
		--color-secondary: rgb(var(--color-secondary-value));
		--color-base: rgb(var(--color-base-value));

		--color-text: #000;
		--color-text-fill: #fff;

		--color-bg: var(--color-base);
		--color-bg-emphasis: #fff;

		--color-disabled: #ccc;

		--font-sans: sans-serif;
		--font-serif: serif;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	html {
		background-color: var(--color-base);
		font-family: var(--font-sans);
		min-height: 100dvb;
	}
}
