@layer reset, base;

@import url("reset.css") layer(reset);

@layer base {
	:root {
		--color-red: 150, 23, 23;
		--color-blue: 43, 94, 115;
		--color-white: 254, 248, 236;

		--color-primary: rgb(var(--color-red));
		--color-secondary: rgb(var(--color-blue));
		--color-base: rgb(var(--color-white));
		--color-text: #000;
		--color-fill: #fff;
		--color-disabled: #ccc;

		--font-sans: sans-serif;
		--font-serif: serif;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@font-face {
		font-family: "Inter-VariableFont_opsz-wght";
		src: url(./fonts/Inter-VariableFont_opsz-wght.ttf);
	}

	html {
		background-color: var(--color-base);
		font-family: var(--font-sans);
		min-height: 100dvb;
		font-family: "Inter-VariableFont_opsz-wght", sans-serif;
	}
}
