/* viewport: min 300px, max 1000px */
.challenge {
	width: 100%;
	display: grid;
	gap: clamp(3.5rem, 2.857rem + 3.43vw, 5rem); /* values: min 28px, max 56px */
	place-content: center;
	place-items: start;
	writing-mode: vertical-rl;
	font-family: var(--font-serif);
}

.heading {
	line-height: 1;
	font-size: clamp(3rem, 2.357rem + 3.43vw, 4.5rem); /* values: min 32px, max 72px */
	/* margin-left: clamp(1.75rem, 1rem + 4vw, 3.5rem); values: min 28px, max 56px */
}

.paragraph {
	font-size: clamp(1.5rem, 1.393rem + 0.57vw, 1.75rem); /* min 16px, max 28px */
	margin-top: calc(
		clamp(3rem, 2.357rem + 3.43vw, 4.5rem) +
		clamp(1.5rem, 1.393rem + 0.57vw, 1.75rem)
	);
}

.paragraph + .paragraph {
	margin-right: clamp(1rem, 0.786rem + 1.14vw, 1.5rem); /* min 16px, max 24px */
}
