.encount {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: clamp(4rem, -0.571rem + 11.43vw, 8rem);
	margin-inline: 16px;
}

.image {
	width: 100%;
	max-width: 800px;
	height: auto;
}

.textWrapper {
	max-width: 800px;
	text-align: left;
	margin-top: 20px;
}

.title {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
}

.description {
	font-size: 16px;
}
