.popoverContainer {
	position: relative;
	display: inline-block;
}

.popoverTrigger {
	width: 100%;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px;
}

.popoverContent {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-75%);
	background-color: var(--color-fill);
	border: solid var(--color-secondary);
	padding: 20px;
	width: 200%;
}

.button {
	background-color: #f27166;
	color: var(--color-fill);
	border-radius: 50%;
	width: 25px;
}
