.title {
	text-align: center;
	font-size: clamp(2rem, 1.571rem + 2.29vw, 3rem);
	font-family: var(--font-serif);
	margin-top: 64px;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin-inline: auto;
	margin-top: 64px;
	margin-bottom: 128px;
	padding-inline: 16px;
}
